<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="StartRow_Read1" value="5"/>
    <add key="EndColumn_Read1" value="R"/>
    <add key="StartRow_Read2" value="4"/>
    <add key="EndColumn_Read2" value="AE"/>

    <add key="BeginTime" value="9:00"/>
    <add key="EndTime" value="18:00"/>
    <add key="SheetName_Read1" value="考勤卡式报表"/>
    <add key="SheetName_Read2" value="刷卡记录"/>

    <add key="Template" value="Template V1.0.xlsx"/>
    <add key="StartRow_WriteWeek" value="1"/>
    <add key="StartColumn_WriteWeek" value="3"/>
    <add key="StartRow_Write" value="3"/>
    <add key="EndColumn_Write" value="AR"/>
  </appSettings>
</configuration>